
@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <div class="row">
        <div class="col-md-8 mx-auto">
            <form asp-action="create" method="post">
                <div class="mb-3">
                    @*<label asp-for="" class="form-label">FullName</label>
                    <input asp-for="" type="text" class="form-control">
                    <span class="text-danger" asp-validation-for=""></span>
                </div>
                <div class="mb-3">
                    <label asp-for="" class="form-label">BirthDate</label>
                    <input asp-for="" class="form-control">
                    <span class="text-danger" asp-validation-for=""></span>*@
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

